*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

/.idea/
/.build/

# Build and output files
build/
app/build/

# External native build
cmake/

# Proguard files
proguard-rules.pro
